<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.einwin.mdm.order.mapper.ExceptionMapper">
    <resultMap id="BaseResultMap" type="com.einwin.mdm.order.model.Refund">
        <id column="Id" jdbcType="VARCHAR" property="id" />
        <result column="OrderId" jdbcType="VARCHAR" property="orderid" />
        <result column="OrderType" jdbcType="INTEGER" property="ordertype" />
    </resultMap>
    <sql id="BaseTable">
        OrderExceptionInfo
    </sql>

    <!--
    <selectKey keyProperty="pkGlobalId" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','') from dual  
    </selectKey>  
    -->
    <insert id="insert">
    	insert into OrderExceptionInfo(
    		  ID,
  			  MESSAGE,
  			  RETRYCOUNT
    	) values(
    		 #{id},
  			 #{message},
  			 1
    	)
    </insert>

    <select id="search" resultMap="BaseResultMap">
        select <include refid="BaseColumns" />
        from <include refid="BaseTable" />
    </select>
</mapper>